{% if page.title %}
{% set title = page.title %}
{% elif section.title %}
{% set title = section.title %}
{% elif config.title %}
{% set title = config.title %}
{% endif %}

{% if page.description %}
{% set description = page.description | truncate(length=120) %}
{% elif section.description %}
{% set description = section.description | truncate(length=120) %}
{% elif config.description %}
{% set description = config.description | truncate(length=120) %}
{% endif %}

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="robots" content="index, follow">

{% if description %}
<meta name="description" content="{{ description | safe }}">
{% endif %}

{% if title %}
<title>{{ title | safe }}</title>
{% endif %}

{% if config.generate_feed %}
<link rel="alternate" href="{{ get_url(path='atom.xml') }}" type="application/atom+xml" title="Atom">
{% endif %}

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
    href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet">
<link rel="icon" href="{{ get_url(path='favicon.png') }}">
<link rel="stylesheet" href="{{ get_url(path='css/style.css') }}">