{% if page.title %}
{% set title = page.title %}
{% elif section.title %}
{% set title = section.title %}
{% elif config.title %}
{% set title = config.title %}
{% endif %}

{% if page.description %}
{% set description = page.description | truncate(length=120) %}
{% elif section.description %}
{% set description = section.description | truncate(length=120) %}
{% elif config.description %}
{% set description = config.description | truncate(length=120) %}
{% endif %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="index, follow">

    {% if description %}
    <meta name="description" content="{{ description | safe }}">
    {% endif %}

    {% if title %}
    <title>{{ title | safe }}</title>
    {% endif %}

    {% if config.generate_feed %}
    <link rel="alternate" href="{{ get_url(path='atom.xml') }}" type="application/atom+xml" title="Atom">
    {% endif %}

    <link rel="icon" href="{{ get_url(path='favicon.png') }}">
    <link rel="stylesheet" href="{{ get_url(path='xorz57.css') }}">
</head>

<body>
    <header>
        {% include "partials/header.html" %}
    </header>

    <main>
        {% block content %}
        {% endblock content %}

        {% block comment %}
        {% endblock comment %}
    </main>

    <footer>
        {% include "partials/footer.html" %}
    </footer>

    {% if config.extra.chart %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    {% endif %}

    {% if config.extra.mermaid %}
    <script type="module">
        import mermaid from 'https://cdn.jsdelivr.net/npm/mermaid@10/dist/mermaid.esm.min.mjs';
        mermaid.initialize({ startOnLoad: true });
    </script>
    {% endif %}

    {% block script %}
    {% endblock script %}
</body>

</html>