<!DOCTYPE html>
<html lang="en">

<head>
    {% include "partials/head.html" %}
</head>

<body>
    <header>
        {% include "partials/header.html" %}
    </header>

    <main>
        {% block main %}
        {% endblock main %}
    </main>

    <footer>
        {% include "partials/footer.html" %}
    </footer>

    {% if page %}
    <script id="dsq-count-scr" src="//xorz57.disqus.com/count.js" async></script>
    {% endif %}

    {% if config.extra.adsense %}
    <script async
        src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client={{ config.extra.adsense | safe }}"
        crossorigin="anonymous"></script>
    {% endif %}
</body>

</html>