<!DOCTYPE html>
<html lang="en">

<head>
    {% include "partials/head.html" %}
</head>

<body>
    <header>
        {% include "partials/header.html" %}
    </header>

    <main>
        {% block content %}
        {% endblock content %}
    </main>

    <footer>
        {% include "partials/footer.html" %}
    </footer>

    {% block script %}
    {% endblock script %}

    {% if config.extra.ads.google %}
    <script async
        src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client={{ config.extra.ads.google | safe }}"
        crossorigin="anonymous"></script>
    {% endif %}
</body>

</html>