{% extends "base.html" %}

{% block main %}
<section class="hero is-fullheight-with-navbar">
    <div class="hero-body">
        <div class="container has-text-centered">
            {% if config.title %}
            <p class="title is-1">{{ config.title | safe }}</p>
            {% endif %}

            {% if config.author %}
            <p class="subtitle is-3">{{ config.author | safe }}</p>
            {% endif %}

            {% if config.extra.status %}
            <p class="title is-3 has-text-primary">{{ config.extra.status | safe }}</p>
            {% endif %}
        </div>
    </div>
</section>

{% endblock main %}