{% extends "base.html" %}

{% block content %}
<h1>{{ page.title | safe }}</h1>
{{ page.content | safe }}
{% endblock content %}

{% block comment %}
<div id="disqus_thread"></div>
<script>
    var disqus_config = function () {
        this.page.url = '{{ config.base_url | safe }}';
        this.page.identifier = '{{ current_path | safe }}';
    };

    (function () { // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');
        s.src = 'https://{{ config.extra.disqus.shortname | safe }}.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>
    Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a>
</noscript>
{% endblock comment %}

{% block script %}
{% if config.extra.disqus.shortname %}
<script id="dsq-count-scr" src="https://{{ config.extra.disqus.shortname | safe }}.disqus.com/count.js" async></script>
{% endif %}
{% endblock script %}